environments:
  default: &DEFAULT
    values:
      - ../prereq/standalone/common-configurations/default.yaml
  gke: &GKE
    values:
      - ../prereq/standalone/common-configurations/gke.yaml
  gke_tpu: &GKE_TPU
    values:
      - ../prereq/standalone/common-configurations/gke_tpu.yaml
  xpu: &XPU
    <<: *DEFAULT
  gaudi: &GAUDI
    <<: *DEFAULT
  cpu: &CPU
    <<: *DEFAULT
  digitalocean: &DO
    <<: *DEFAULT

---

{{- $ns := .Namespace | default "llm-d-standalone-inference-scheduling" -}}
{{- $rn := (env "RELEASE_NAME_POSTFIX") | default "standalone-inference-scheduling" -}}

repositories:
  - name: llm-d-modelservice
    url: https://llm-d-incubation.github.io/llm-d-modelservice/

releases:
  - name: {{ printf "gaie-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: /Users/xiyue/go/src/github.com/kubernetes-sigs/gateway-api-inference-extension/config/charts/inferencepool
    installed: true
    values:
      - gaie-standalone-inference-scheduling/values.yaml
    # Apply provider name if on GKE
    {{- if or (eq .Environment.Name "gke") (eq .Environment.Name "gke_tpu") }}
      - provider:
          name: {{ .Environment.Values.provider.name }}
        inferencePool:
          apiVersion: {{ .Environment.Values.inferencePool.apiVersion }}
        inferenceExtension:
          monitoring:
            gke:
              enabled: true
            prometheus:
              enabled: false
    {{- end }}
    labels:
      kind: inference-stack

  - name: {{ printf "ms-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-modelservice/llm-d-modelservice
    version: v0.3.8
    installed: true
    needs:
      - {{ printf "gaie-%s" $rn | quote }}
    values:
    {{- if eq .Environment.Name "gke_tpu" }}
      - ../common/ms-inference-scheduling/values_tpu.yaml
    {{- else if eq .Environment.Name "xpu" }}
      - ../common/ms-inference-scheduling/values_xpu.yaml
    {{- else if eq .Environment.Name "gaudi" }}
      - ../common/ms-inference-scheduling/values-gaudi.yaml
    {{- else if eq .Environment.Name "cpu" }}
      - ../common/ms-inference-scheduling/values_cpu.yaml
    {{- else if eq .Environment.Name "digitalocean" }}
      - ../common/ms-inference-scheduling/digitalocean-values.yaml
    {{- else }}
      - ../common/ms-inference-scheduling/values.yaml
    {{- end }}
    set:
    {{- if or (eq .Environment.Name "gke") (eq .Environment.Name "gke_tpu") }}
      - name: "decode.monitoring.podmonitor.enabled"
        value: false
    {{- end }}
    labels:
      kind: inference-stack
